<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>首页-二维码生成</title>
    {% endif %}
    <style>
        nav u1 li {list-style:none;float: left;margin: 50px;}
        .form{position: absolute;top: 150px;left: 80px}
    </style>
</head>
<body>
<div >
    <nav>
    <u1>
        <li>
            <a href="/url">网址</a>
        </li>
        <li>
            <a href="/text">文字</a>
        </li>
    </u1>
</nav>
</div>
<div class="form">
    {% block content %}{% endblock %}
</div>
</body>
</html>